#textdomain wesnoth-To_Lands_Unknown
#define UNITCOLOR COLOR
          [modifications]
             [object]
               [effect]
                 apply_to=image_mod
                 add=RC(magenta>{COLOR})
               [/effect]
             [/object]
          [/modifications]
#enddef
[scenario]
    id=11_A_New_Leader
    next_scenario=12_Tar-Tabar
    name= _ "A New Leader"
    map_data="{~add-ons/To_Lands_Unknown/maps/10_Message.map}"
    turns=-1
    victory_when_enemies_defeated=no

    {INDOORS}
    {SCENARIO_MUSIC silence.ogg}

    {STORYTXT_A_NEW_LEADER}

    [side]
        side=1
        controller=human
        team_name=mehirteam
        user_team_name= _ "team_name^Mehir"

        type=TLU_Grand_Summoner
        id=Mehir
        name= _ "Mehir"
        unrenamable=yes
        canrecruit=yes
        facing=sw

        recruit=EoMa_Novice_Summoner,EoMa_Camel_Rider,EoMa_Carpet_Rider,EoMa_Water_Elemental,EoMa_Summoner,EoMa_Rhami,EoMa_Fire_Elemental

#        {GOLD 400 300 200}
#        {INCOME 10 5 0}
        {GOLD 0 0 0}
        {INCOME -2 -2 -2}
    [/side]

    [side]
        side=2
        controller=ai
        team_name=mehirteam
#        user_team_name= _ "team_name^Highest Council"
        user_team_name= _ "team_name^High Council"
        color=brown
        no_leader=yes

        {GOLD 100 125 150}
        {INCOME 1 2 3}

        [ai]
            aggression=0.0
            caution=1.0
            grouping=defensive
        [/ai]

        [unit]
            id=Elder
            side=2
            name= _ "Elder"
            type=TLU_Elder
            random_traits=yes
            x=15
            y=12
        [/unit]
        [unit]
            id=Elder2
            side=2
            name= _ "Elder"
            type=TLU_Elder
            random_traits=yes
            x=13
            y=13
        [/unit]
        {UNIT 2 (TLU_Elder) 14 11 (id=Elder3)}
        {UNIT 2 (TLU_Elder) 16 11 (id=Elder4)}
        {UNIT 2 (TLU_Elder) 18 10 (facing=sw)}
    [/side]

    [event]
        name=prestart
        [hide_unit]
            id=Mehir
        [/hide_unit]
        {TELEPORT_UNIT id=Mehir 13 17}
        {UNIT 2 (EoMa_Summons_Master) 24 15 (id=Malib
        name=_"Malib"
	profile=portraits/malib.png
	image_icon="portraits/malib.png~CROP(150,50,130,130)~SCALE(72,72)"
        facing=sw
	{UNITCOLOR orange})}
    [/event]

    [event]
        name=start
        [message]
            speaker=Malib
            message= _ "...and that’s why I owe him my life. I anoint Mehir as the leader of Tar-Tabar."
        [/message]
        [message]
            speaker=Elder
#            message= _ "It is impossible to become a leader from day to day. He’s only twenty-eight years old."
            message= _ "It is impossible to become a leader from day to day. He’s only twenty-eight years old!"
        [/message]
        [message]
            speaker=Malib
            message= _ "But he managed to do the impossible - to save my city!"
        [/message]
		[message]
            speaker=Malib
#            message= _ "Besides, he also has extraordinary achievements for his age, and rank. Thanks to that, he quickly rose to the rank of commander, and i don't see anyone more fit that him to rule Tar-Tabar."
            message= _ "Besides, he also has many extraordinary achievements for his age and rank: remember, besides saving Mag-Magar, he was the one to help estabilish peace with the lizards AND defeated the foreigners who killed Tashkar. I don't know about you, but I don't see anyone better fit that him to rule Tar-Tabar."
        [/message]
        [message]
            speaker=Elder2
#            message= _ "He was lucky Rashti’rhami was with him at that time. But still there was a risk she would die and in consequence our work with the Circle would have been ruined!"
            message= _ "*sigh* You do have a point, but..."
        [/message]
        [message]
            speaker=Malib
#            message= _ "The holy Rashti’rhami was under his command. It was his skills that saved both the city and Rashti! Apart from that she told me that Mehir is worthy of becoming her master."
            message= _ "No buts! Rashti even personally told me that Mehir is worthy of becoming her master."
        [/message]
        [message]
            speaker=Elder2
#            message= _ "Rashti is unpredictable. She can say many things between her moods of rage or self-control."
            message= _ "Rashti is unpredictable. She can say all sorts of things between her moods of rage or self-control."
        [/message]
        [message]
            speaker=Malib
            message= _ "Do you want me to tell her that you said that?"
        [/message]
        [message]
            speaker=Elder2
            message= _ "Please, don’t! I beg you! She will rip my throat out if she finds out!"
        [/message]
        [message]
            speaker=Malib
            message= _ "So we have come to an understanding. I knew you would not let me down. Bye!"
        [/message]
        {MOVE_UNIT id=Malib 28 17}
        {TELEPORT_UNIT id=Malib 9 9}
		{MODIFY_UNIT id=Malib facing se}
		[hide_unit]
            id=Malib
        [/hide_unit]
#        [message]
#            speaker=Elder
#            message= _ "Hey, wait! Damn, he’s gone..."
#        [/message]
		{FADE_TO_BLACK}
        [hide_unit]
        [/hide_unit]
		{TELEPORT_UNIT id=Elder 12 8}
        {TELEPORT_UNIT id=Elder2 14 8}
        {TELEPORT_UNIT id=Elder3 11 9}
        {TELEPORT_UNIT id=Elder4 15 9}
        {TELEPORT_UNIT id=Mehir 13 12}
		#[delay]
        #    time=1000
        #[/delay]
		{SCROLL_TO 13 7}
        [replace_map]
            map="{~add-ons/To_Lands_Unknown/maps/02_Central_Palace.map}"
            expand=yes
            shrink=yes
        [/replace_map]
		
		#fix positions again
		{TELEPORT_UNIT id=Elder 12 8}
		{MODIFY_UNIT id=Elder facing se}
        {TELEPORT_UNIT id=Elder2 14 8}
		{MODIFY_UNIT id=Elder2 facing sw}
        {TELEPORT_UNIT id=Elder3 11 9}
		{MODIFY_UNIT id=Elder3 facing se}
        {TELEPORT_UNIT id=Elder4 15 9}
		{MODIFY_UNIT id=Elder4 facing sw}

        [unhide_unit]
        [/unhide_unit]

		{UNIT 2 (EoMa_Summons_Master) 17 11 (id=Sharif
        name=Sharif
		profile=portraits/sharif.png
		image_icon="portraits/sharif.png~CROP(160,20,130,130)~SCALE(72,72)"
		facing=sw
	{UNITCOLOR green}
	)}
        {UNIT 2 (EoMa_Mystical_Jinn) 17 6 (facing=sw)}
        {UNIT 2 (EoMa_Mystical_Jinn) 9 6 (facing=se)}
        {UNIT 2 (EoMa_Wonderful_Jinn) 16 5 (facing=sw)}
        {UNIT 2 (EoMa_Great_Efreeti) 10 5 (facing=se
	{UNITCOLOR purple})}
        {UNIT 2 (EoMa_HoRhami) 19 7 (facing=sw)}
        {UNIT 2 (EoMa_DharmaRhami) 7 7 (facing=se
	{UNITCOLOR green})}

        {UNIT 2 (TLU_Grand_Summoner) 9 9 (facing=se
	{UNITCOLOR orange})}
        {UNIT 2 (EoMa_Heavy_Summoner) 9 8 (facing=se
	{UNITCOLOR green})}
        {UNIT 2 (EoMa_Neutral_Summoner) 8 8 (facing=se
	{UNITCOLOR orange})}
        {UNIT 2 (TLU_Grand_Summoner) 17 9 (facing=sw
	{UNITCOLOR blue})}
        {UNIT 2 (EoMa_Heavy_Summoner) 17 8 (facing=sw
	{UNITCOLOR purple})}
        {UNIT 2 (EoMa_Neutral_Summoner) 18 8 (facing=sw
	{UNITCOLOR teal})}

        {UNIT 2 (EoMa_Banisher) 7 8 (facing=se
	{UNITCOLOR white})}
        {UNIT 2 (EoMa_Dispeller) 7 10 (facing=se
	{UNITCOLOR green})}
        {UNIT 2 (EoMa_Summoner) 6 11 (facing=se
	{UNITCOLOR blue})}
        {UNIT 2 (EoMa_Banisher) 19 8 (facing=sw
	{UNITCOLOR orange})}
        {UNIT 2 (EoMa_Dispeller) 19 10 (facing=sw
	{UNITCOLOR blue})}
        {UNIT 2 (EoMa_Summoner) 20 11 (facing=sw
	{UNITCOLOR purple})}
		
        {UNIT 2 (EoMa_Novice_Summoner) 9 18 (facing=se)}
        {UNIT 2 (EoMa_Carpet_Master) 5 11 (facing=se
	{UNITCOLOR teal}
	)}
        {UNIT 2 (EoMa_Carpet_Rider) 7 12 (facing=se
	{UNITCOLOR green})}
        {UNIT 2 (EoMa_Novice_Summoner) 4 10 (facing=se)}
        {UNIT 2 (TLU_Enchanter) 5 12 (facing=se)}
        {UNIT 2 (TLU_Merchant) 4 11 (facing=se)}
        {UNIT 2 (EoMa_Novice_Summoner) 17 18 (facing=sw)}
        {UNIT 2 (EoMa_Carpet_Master) 21 11 (facing=sw
	{UNITCOLOR blue})}
        {UNIT 2 (EoMa_Carpet_Rider) 19 12 (facing=sw
	{UNITCOLOR purple})}
        {UNIT 2 (EoMa_Novice_Summoner) 22 10 (facing=sw)}
		{UNIT 2 (TLU_Merchant) 21 12 (facing=sw
	{UNITCOLOR orange})}
		{UNIT 2 (TLU_Enchanter) 21 11 (facing=sw)}

        {REPLACE_SCENARIO_MUSIC legends_of_the_north.ogg}

		{FADE_IN}
        [delay]
            time=500
        [/delay]
        [message]
            speaker=Elder
#            message= _ "Welcome. We are here to establish a new leader for Tar-Tabar."
            message= _ "Welcome, everyone! Today, we have gathered here to appoint the new leader of Tar-Tabar."
        [/message]
        [message]
            speaker=Elder
#            message= _ "The Highest Council has contemplated on the subject and finally took impartial... "
            message= _ "The High Council has contemplated on the subject and finally took impartial... "
        [/message]
        [message]
            speaker=Malib
            message= _ "*cough*"
        [/message]
        [message]
            speaker=Elder
#            message= _ "...decision. The meeting elected Mehir the new leader!"
            message= _ "...decision. The meeting elected Mehir as the new leader!"
        [/message]
        [message]
            speaker=Elder
#            message= _ "We chose him in recognition of his achievements. Mehir, come closer."
            message= _ "We chose him in recognition of his extraordinary achievements. Mehir, come closer."
        [/message]
        {MOVE_UNIT id=Mehir 13 10}
        [message]
            speaker=Elder
#            message= _ "By the power given to me by the High Council and in the name of all citizens of our country and the Abyss I grant you the title leader of Tar-Tabar!"
            message= _ "By the power given to me by the High Council and in the name of all citizens of our country and the Abyss, I grant you the authority over Tar-Tabar!"
        [/message]
        [store_unit]
            [filter]
                id=Mehir
            [/filter]
            variable=mehirold
        [/store_unit]
        {ADVANCE_UNIT id=Mehir ("TLU_Mehir_Leader")}
		{MODIFY_UNIT id=Mehir profile "portraits/mehir-leader.png"}
        [store_unit]
            [filter]
                id=Mehir
            [/filter]
            variable=mehirnew
        [/store_unit]
        [if]
            [variable]
                name=mehirold.attack[0].damage
                greater_than=$mehirnew.attack[0].damage
            [/variable]
            [then]
                {VARIABLE mehirnew.attack[0].damage $mehirold.attack[0].damage}
            [/then]
        [/if]
        [if]
            [variable]
                name=mehirold.attack[0].number
                greater_than=$mehirnew.attack[0].number
            [/variable]
            [then]
                {VARIABLE mehirnew.attack[0].number $mehirold.attack[0].number}
            [/then]
        [/if]
        [if]
            [variable]
                name=mehirold.max_hitpoints
                greater_than=$mehirnew.max_hitpoints
            [/variable]
            [then]
                {VARIABLE mehirnew.max_hitpoints $mehirold.max_hitpoints}
            [/then]
        [/if]
		{VARIABLE mehirnew.experience $mehirold.experience}
        [unstore_unit]
            variable=mehirnew
            find_vacant=no
        [/unstore_unit]
        [message]
            speaker=Mehir
#            message= _ "I hope it’s not a dream."
            message= _ "I hope I'm not dreaming."
        [/message]
        [message]
            speaker=Elder
           message= _ "Of course not! Tar-Tabar has finally a new keeper. Its people are now your subjects and the local army has a new commander. This is a great responsibility. Don’t forget about this."
        [/message]
        [message]
            speaker=Elder
#            message= _ "Oh, I almost forgot. Each leader of the Trinity has their own ultimate being as a servant. For Tar-Tabar it is Rashti’rhami, the one who you’ve had the pleasure to meet a few weeks ago. Since that moment you are her new master. Frankly, I don’t envy you. Her fluctuations of mood..."
            message= _ "Oh, I almost forgot. As you already know, each leader of the Trinity has their own ultimate being as a servant. For Tar-Tabar it is Rashti’rhami, the one who you’ve had the pleasure to meet a few weeks ago. Since that moment you are her new master. Frankly, I don’t envy you. Her fluctuations of mood..."
        [/message]
        [message]
            speaker=Mehir
#            message= _ "(whispers) ...can I resign? She scares me..."
            message= _ "(whispers)... can I resign from that part? Rashti kind of scares me, to be honest..."
        [/message]
        [message]
            speaker=Elder
#            message= _ "(whispers) ...shut up... (speaks normally) In spite of everything, I hope you will be a successful team, which will allow us to move to the Abyss faster than expected. Take care of her. Her death would cause disastrous consequences for the Abyss.

#I think we are finished here, so let the party begin!"
            message= _ "*hisses* Don't even think about it. With that said, I hope you will be a successful team, which will allow us to move to the Abyss faster than expected. Take care of her. Her death would cause disastrous consequences for our connection to the Abyss."
        [/message]
        [message]
            speaker=Sharif
            message= _ "I can barely believe that only a year ago Mehir was just low-ranking officer under my command, yet now he's my equal. Mehir is truly a role model for the citizens of al-Kamija. Congratulations on your promotion, Mehir, and wish you luck with your new duty!"
        [/message]
        [message]
            speaker=Elder
            message= _ "I think we are done here, so let the party begin!"
        [/message]
        [message]
            type=EoMa_Summoner
            message= _ "Hurray!!!"
        [/message]
        [message]
            type=EoMa_Carpet_Master
            message= _ "Cheers for Mehir!!!"
        [/message]
        [message]
            type=EoMa_Novice_Summoner
            message= _ "Ale!!!"
        [/message]
	{BADASS_MODE_CHANGE (
        [message]
            type=TLU_Merchant
            message= _ "Combination hookah and coffee maker! Also makes Julienne fries! Oh, wait, it's not the bazaar, what am I doing here?"
        [/message]	
	) ()}
        [endlevel]
            result=victory
            carryover_report=no
            {NEW_GOLD_CARRYOVER 100}
            bonus=no
            replay_save=no
        [/endlevel]
    [/event]

    {COLLAR_EVENT}
    {I8M02_TERRAIN}
    {I8M10_TERRAIN}
[/scenario]
