#textdomain wesnoth-To_Lands_Unknown
[scenario]
    id=16_The_City_of_Light
    next_scenario=TLU_cutscene
    name= _ "The City of Light"
    map_data="{~add-ons/To_Lands_Unknown/maps/17_TheCityofLight.map}"
    turns=-1
    victory_when_enemies_defeated=no

    {INTRO_AND_SCENARIO_MUSIC revelation.ogg heroes_rite.ogg}
    {MORNING}

    {STORYTXT_THE_CITY_OF_LIGHT}

    [side]
        side=1
        controller=human
        team_name=mehirteam
        user_team_name= _ "team_name^Mehir"

        type=TLU_Mehir_Leader
        id=Mehir
        name= _ "Mehir"
        unrenamable=yes
        canrecruit=yes
        profile=portraits/mehir-leader.png

        recruit=EoMa_Novice_Summoner,EoMa_Camel_Rider,EoMa_Carpet_Rider,EoMa_Water_Elemental,EoMa_Summoner,EoMa_Rhami,EoMa_Fire_Elemental

        {GOLD 0 0 0}
        {INCOME 10 5 0}
    [/side]

    [side]
        side=2
        controller=ai
        team_name=mehirteam
        user_team_name= _ "team_name^Kharos"

        type=EoMa_Prophet_of_Light
        id=Anthi
        name= _ "Anthi"
        unrenamable=yes
        canrecruit=yes
        color=white
        profile=portraits/anthi.png
		image_icon="portraits/anthi.png~CROP(140,10,180,180)~SCALE(72,72)"

        recruit=EoMa_White_Warrior,EoMa_Protector,EoMa_Brown_Warrior,EoMa_Shielder,EoMa_Cavalry_Archer,EoMa_Sun_Follower

        {GOLD 400 300 200}
        {INCOME 10 5 0}

        {UNIT 6 (EoMa_Kirios) () () (name= _ "Bodyguard"
        placement=leader
        id=Kirios)}
    [/side]

    [side]
        side=3
        controller=ai
        team_name=mehirteam
        user_team_name= _ "team_name^Enlightened Ones"
        hidden=yes
        no_leader=yes
        color=black
    [/side]

    [event]
        name=start
        [message]
            speaker=Anthi
            message= _ "Today, Mehir, I’ll show you three stained-glass windows, which explain some issues of our culture, about which you asked yesterday."
        [/message]
        [message]
            speaker=Mehir
            image=portraits/mehir-leader-angry.png
            message= _ "Great, but does this ‘sunflower’ (*Mehir ironically talks about Kirios, Anthi’s bodyguard*) need to walk with you? Couldn’t we be alone for a moment?... He distracts me."
        [/message]
        [message]
            speaker=Anthi
            message= _ "Unfortunately he can’t. I will explain it to you in front of the third window."
        [/message]
        {MOVE_UNIT id=Anthi 10 11}
        {MOVE_UNIT id=Kirios 11 12}
        {MOVE_UNIT id=Mehir 11 11}

        [message]
            speaker=Anthi
            message= _ "As you already know, our society is devoted to the Sun and his life-giving power carried by the immaculate Light. You are from the desert, so you don’t know how important vegetation is. The Sun causes plants to grow and gives us fruits. This is how our religion came into being."
        [/message]
		[message]
            speaker=Mehir
            message= _ "Our ancestors from Ka-gatta lived in caves beneath the Great Desert. They relied on underground farms where different kinds of subterranean flora grew. All this was watered with canals linked to the great reservoir located deep beneath the whole place."
        [/message]
		[message]
            speaker=Mehir
            message= _ "But when we discovered the Abyss, our life changed drastically. Nomolas, the First Jinn, created a magnificent city for us in the heart of the Desert. We could finally abandon the caves and move onto the surface. That place is called al-Kamija, and it is our capital now. Thanks to a set of magical circles around it, we have air-condtioning - the cold air from the Abyss cools our streets and houses. Without it, the heat of the Desert would kill us quickly."
        [/message]
		[message]
            speaker=Mehir
            message= _ "We use water elementals to grow crops and rear animals. We even have an artifical lake. There is a huge magical circle on one of the central palace walls, which creates an enormous waterfall which fuels the lake."
        [/message]
		[message]
            speaker=Anthi
            message= _ "This is interesting. It looks like during the course of your history you did not rely on sun like we did. We could learn so much form each other!"
        [/message]
        {MOVE_UNIT id=Anthi 7 13}
        {MOVE_UNIT id=Kirios 8 13}
        {MOVE_UNIT id=Mehir 8 12}

		[message]
            speaker=Anthi
            message= _ "This stained-glass window shows a Mistress of Light. In our long history, sometimes extremely talented servants of Light appeared, whose sheer willpower allowed them to cross the border between spirit and body, turning them into perfectly good entities, personifications of the Light. We have been awaiting another mistress for several dozen years. We hope that some day the Sun will choose a good candidate and grant her this wonderful gift."
        [/message]
		[message]
            speaker=Mehir
            message= _ "I hope I do not offend you, but we do not consider the sun as a divine being. It is just a source of deadly heat for our people. Due to our location we rarely step out our cooled cities. The Mystical Jinns, one of the most powerful entities from the Abyss, asked about it told us, the sun is just a huge ball of fire. Well, they used more sophisticated words for it. 'Thermo-something' or 'plas-mah' blah blah."
        [/message]
		[if]
		[have_unit]
			type=EoMa_Wonderful_Jinn,EoMa_Mystical_Jinn
			side=1
			search_recall_list=yes
		[/have_unit]
		[then]
			[message]
				speaker=Mehir
				message= _ "It so happens I have one of high level Jinns. Let's ask him."
			[/message]
			[recall]
				type=EoMa_Wonderful_Jinn,EoMa_Mystical_Jinn
			[/recall]
			[message]
				type=EoMa_Wonderful_Jinn,EoMa_Mystical_Jinn
				message= _ "You called me my Master?"
			[/message]
			[message]
				speaker=Mehir
				message= _ "Yes. Now tell us more about the sun."
			[/message]
			[message]
				type=EoMa_Wonderful_Jinn,EoMa_Mystical_Jinn
				message= _ "The Sun is the star at the center of the Solar System. It is a nearly perfect sphere of hot plasma, with internal convective motion that generates a magnetic field via a dynamo process."
			[/message]
			[message]
				speaker=Mehir
				message= _ "Yeah, whatever... Thank you. You may go now."
			[/message]
			{PUT_TO_RECALL_LIST type=EoMa_Wonderful_Jinn,EoMa_Mystical_Jinn}
			[message]
				speaker=Anthi
				message= _ "These Jinns of yours are funny. I did not understand a word of it."
			[/message]
			[message]
				speaker=Mehir
				message= _ "Yeah, me too. They speak like that all the time. Nevermind..."
			[/message]
		[/then]
		[/if]
		[message]
			speaker=Mehir
			message= _ "Speaking of gods, we believe in the Abyss and the Ultimate Beings. They are like ambassadors of that dimension here on Earth. We worship them, but it is them who obey us. Holy Rashti’rhami is one of such beings."
		[/message]
		[message]
            speaker=Anthi
            message= _ "This is fascinating! Your culture and beliefs are completely alien to us. Unfortunately our Sun does not speak to us like your ultimate beings, but its power is among us and gives us strength to make unbelievable things."
        [/message]
		
        {MOVE_UNIT id=Anthi 4 14}
        {MOVE_UNIT id=Kirios 4 15}
        {MOVE_UNIT id=Mehir 5 14}

        [message]
            speaker=Anthi
            message= _ "The last stained-glassed window shows a Kirios, the most powerful guardian of the Sun. This kind of warrior protects our temples and the priestesses inside. Because I am the highest of all priestesses, the best guard serves me."
        [/message]
        [message]
            speaker=Mehir
            image=portraits/mehir-leader-angry.png
            message= _ "But he can’t see anything! His helmet is just a golden plate without any eye-holes!"
        [/message]
        [message]
            speaker=Anthi
            message= _ "Kirios, like all other Sun Guardians, doesn’t need to see. He sees by the eyes of his soul and I am sure that he can see much more than we can."
        [/message]
        [message]
            speaker=Mehir
            message= _ "Amazing... if I tell my friends in al-Kamija about what I’ve seen here, they won’t believe me. But I have a question. You said these Sun Guardians protect your temples. From what danger then? You seem to be a peaceful society."
        [/message]
		[message]
            speaker=Anthi
            message= _ "Since these dark hordes attacked us, we have a good reason for protection like this. But in the past we were not so coherent society. There were many local wars of different clans and tribes. The one finally emerged victorious from this conflict - the Sun Cult. Gifted with the power of the Sun, its members unified all smaller nations and formed our civilization - Kharos. We are all the Sun Cult now."
        [/message]
		[message]
            speaker=Mehir
            message= _ "I see... It looks like we’re underdeveloped in the spiritual area, but at least we have the Abyss and Nomolas which gives us a great adv..."
        [/message]

        {UNIT 1 (EoMa_Carpet_Rider) 16 8 (name= _ "Messenger"
        id=Messenger)}
        {SCROLL_TO 16 8}

        [message]
            speaker=Messenger
            message= _ "Here you are, my liege! An extremely important message for you."
        [/message]
        {MOVE_UNIT id=Messenger 6 13}
        {SCROLL_TO 6 13}
        {MODIFY_UNIT id=Mehir facing ne}
        [message]
            speaker=Mehir
            message= _ "For me? Is something bad happening in my Tar-Tabar?"
        [/message]
        [delay]
            time=2000
        [/delay]
        [message]
            speaker=Mehir
            image=portraits/mehir-leader-shocked.png
            message= _ "Holy Nomolas..."
        [/message]
        [message]
            speaker=Anthi
            message= _ "Is everything alright?"
        [/message]
        [message]
            speaker=Mehir
            message= _ "..."
        [/message]
        [message]
            speaker=Mehir
            message= _ "The transformation of Rashti’rhami disturbs the multidimensional space between worlds, so the Great Circle has to be activated in two weeks before its current design becomes outdated. Our scientists had been looking for its formula for hundreds of years. Inventing a new one would take another centuries..."
        [/message]
        [message]
            speaker=Mehir
            message= _ "When you were told to deliver this?"
        [/message]
        [message]
            speaker=Messenger
            message= _ "Thirteen days ago."
        [/message]
        [message]
            speaker=Mehir
            message= _ "That means the circle is going to be finished... oh no..."
        [/message]
        [message]
            speaker=Messenger
            message= _ "Tomorrow, my liege. Tomorrow al-Kamija with all of its cities will disappear from this world."
        [/message]
        [message]
            speaker=Mehir
            message= _ "We won’t manage to join them. We will be left alone. This... is... the end."
        [/message]
        [message]
            speaker=Anthi
            message= _ "Mehir, please look at me. All is not lost."
        [/message]
        [message]
            speaker=Mehir
            message= _ "You don’t understand. The Abyss is the center of our lives. If the rest of the Summoners move to it, they won’t return and I will be trapped in this mortal world forever..."
        [/message]
        [delay]
            time=1000
        [/delay]
        [message]
            speaker=Anthi
            message= _ "What would you say if I told you about people, who know how to send you to this... how do you call it? Precipice?"
        [/message]
        [message]
            speaker=Mehir
            message=_ "We could draw the same cirlce as it is now. It would be much smaller, but we don’t have materials."
        [/message]
        [message]
            speaker=Anthi
            message= _ "I know people who can move you to the Abyss without drawing circles. They live not so far to the west from here, or at least, they lived there yesterday..."
        [/message]
        [message]
            speaker=Mehir
            message= _ "What do you mean? There is only an endless ocean west from here. You’re probably talking about an island."
        [/message]
        [message]
            speaker=Anthi
            message= _ "Not...exactly. Their land, how to tell..., their land sometimes is moved by... wind. I will explain it to you later. Until then you should tell your soldiers about the things that have transpired."
        [/message]
        [message]
            speaker=Mehir
            message= _ "How I will tell them they are going to be trapped here? And their families are leaving this world forever? These mysterious people... They’re our last chance..."
        [/message]
        {MOVE_UNIT id=Mehir 16 8}
        [hide_unit]
            x,y=16,8
        [/hide_unit]
        {MOVE_UNIT id=Anthi 16 8}
        [kill]
            id=Anthi
            animate=no
        [/kill]
        {MOVE_UNIT id=Kirios 16 8}
        [kill]
            id=Kirios
            animate=no
        [/kill]
        {MOVE_UNIT id=Messenger 16 8}
        [kill]
            id=Messenger
            animate=no
        [/kill]

        {UNIT 3 (EoMa_Shadowmage) 15 12 (id=Agent1)}
        {UNIT 3 (EoMa_Shadowmage) 13 10 (id=Agent2)}
        {UNIT 3 (EoMa_Shadowmage) 18 7 (id=Agent3)}

        [message]
            speaker=Agent1
            message= _ "She will tell him. They can reach us."
        [/message]
        [message]
            speaker=Agent2
            message= _ "Everything is going as planned."
        [/message]
        [message]
            speaker=Agent3
            message= _ "Yes, the Guru will be very happy."
        [/message]
        [message]
            speaker=Agent1
            message= _ "I will go back to the Kingdom to speak with him and you do not leave their side."
        [/message]

        [modify_side]
            side=3
            team_name=mages
        [/modify_side]

        [endlevel]
            result=victory
            carryover_percentage=100
            carryover_report=no
            replay_save=no
            music=heroes_rite.ogg
        [/endlevel]
    [/event]

    {I8M17_TERRAIN}
[/scenario]
