#textdomain wesnoth-To_Lands_Unknown
[scenario]
    id=20_Enlightenment
    next_scenario=21_Skydock
    name= _ "Enlightenment"
    map_data="{~add-ons/To_Lands_Unknown/maps/20_Enlightenment.map}"
    turns=-1
    victory_when_enemies_defeated=no

    {SCENARIO_MUSIC revelation.ogg}
    {MORNING}

    [side]
        side=1
        controller=human
        team_name=mehirteam
        user_team_name= _ "team_name^Mehir"

        type=TLU_Mehir_Leader
        id=Mehir
        name= _ "Mehir"
        unrenamable=yes
        canrecruit=yes
        profile=portraits/mehir-leader.png

        {GOLD 0 0 0}
        {INCOME -2 -2 -2}

        recruit=EoMa_Water_Elemental,EoMa_Fire_Elemental,EoMa_Water_Avatar,EoMa_Fire_Avatar,EoMa_Rhami,EoMa_RhamiDatu,EoMa_RhamiKai,EoMa_Jinn
    [/side]

    [side]
        side=2
        controller=ai
        team_name=mehirteam
        user_team_name= _ "team_name^Magi"

        type=EoMa_Guru
        id=Guru
        name= _ "Guru"
        unrenamable=yes
        canrecruit=yes
        image_icon="portraits/sky_kingdom/guru.png~CROP(150,10,150,150)~SCALE(72,72)"
        {GOLD 500 700 1200}
        {INCOME 10 5 0}

        [ai]
            aggression=1.0
            caution=0
            leader_aggression=-10.0
        [/ai]

        {UNIT 2 EoMa_Sky_Guardian 13 8 (facing=sw)}
        {UNIT 2 EoMa_Sky_Guardian 17 9 (facing=sw)}
    [/side]

    [event]
        name=prestart
        {RECALL_RASHTI}
        {REPEAT 6 (
            [recall]
                side=1
                x,y=3,17
            [/recall]
        )}
        {MOVE_UNIT id=Guru 15 9}
        {MODIFY_UNIT id=Guru facing sw}
    [/event]

    [event]
        name=start
        [message]
            speaker=Guru
            message= _ "Ah, welcome to the Palace of Omniscience, Mehir. Though I am generally above such petty things as entertainment, I must admit, you impressed me. You are the first visitor from the surface to reach the palace, and that's no small feat, mind you."
        [/message]
        [message]
            speaker=Mehir
            message= _ "Those magi told that you're the person who can help me return to my people in the Abyss, and made me fight my way here, so it better be true..."
        [/message]
        [message]
            speaker=Guru
            message= _ "Ah, yes, I do know how to make it happen. Unfortunately, opening a passage to it without the usage of abyssal magic requires an enormous amount of energy. It exceeds even our capabilities... at least at the moment."
        [/message]
        [message]
            speaker=Mehir
            image=portraits/mehir-leader-angry.png
            message= _ "What?! Are you saying that all my effort of getting here was pointless?! There's no way I'm leaving this place empty-handed! There <b>must</b> be something I can do."
        [/message]
        [message]
            speaker=Guru
            message= _ "Fortunately for you, there is a solution, but it will require some work on your part. You see, there are objects in this world that can store very large quantities of magic over time. If you could bring us one, we could release its accumulated power to open a gate for you."
        [/message]
        [message]
            speaker=Mehir
            message= _ "So there is some hope. Can you please tell me where I could find such an object?"
        [/message]
        [message]
            speaker=Guru
            message= _ "Although they aren't very useful to us, we do know the location of two of them. The first is in the hands of the people of Kharos. It is their holiest artifact; they call it the ‘Sun Ray’."
        [/message]
        [message]
            speaker=Mehir
            message= _ "WHAAAT? Anthi never mentioned it!"
        [/message]
        [message]
            speaker=Guru
            message= _ "Not surprising, considering that it is their greatest treasure: the source of power of all Sun Warriors. Anthi would never tell a stranger about this."
        [/message]
        [message]
            speaker=Mehir
            image=portraits/mehir-leader-angry.png
            message=_ "And you want me to steal it? Hell no! The people of Kharos helped me get here, they gave me hope, and besides, what kind of heartless traitor would I be to take the thing they hold most dear right after saving them?! I'd rather sell my soul!"
        [/message]
        [message]
            speaker=Guru
            message= _ "*smiles lightly* I knew you wouldn’t do such a thing. You are a good person, Mehir, but good people always have it harder than the rest..."
        [/message]
        [delay]
            time=1000
        [/delay]
        [message]
            speaker=Guru
            message= _ "There is another power source, very far away from here, in one of the most distant places of all. You have to bring us one of the ‘batteries’ of the Runemasters — a long forgotten civilization that perished thousands of years ago."
        [/message]
        [message]
            speaker=Mehir
            message=_ "Go far away, search some ruins, find that thing and bring it back — seems fairly easy."
        [/message]
        [message]
            speaker=Guru
            message=_ "There's always a catch. You see, the Runemasters are gone, but this place is protected by their mechanical creations, like your cities were protected by your abysmal beings."
        [/message]
        [message]
            speaker=Mehir
            message=_ "A bunch of ancient guardians shouldn't be too difficult to defeat."
        [/message]
        [message]
            speaker=Guru
            message=_ "It won't be, as your army proved to be powerful enough. But there is a chance you will encounter the remnants of something more... terrifying. Believe me, it won't be easy."
        [/message]
        [message]
            speaker=Mehir
            message=_ "Well, it's not like I have much of a choice. I’ll get this battery, and you'll open the gate, but what do I have to do for you in return?"
        [/message]
        [message]
            speaker=Guru
            message=_ "Nothing."
        [/message]
        [message]
            speaker=Mehir
            message=_ "Nothing? You are just going to open the gate to us for free?"
        [/message]
        [message]
            speaker=Guru
            message=_ "Yes. Let’s say it will be another challenge for us. Also, the battery itself will become an interesting subject for our archaeologists."
        [/message]
        [message]
            speaker=Mehir
            message=_ "Hmmm... it better not be another trick of yours... By the way, I have so many questions I want to ask. Can I please stay a little longer and do so?"
        [/message]
        [message]
            speaker=Guru
            message=_ "Sure, I'm listening. After all, we do owe you some explanations."
        [/message]
        [message]
            speaker=Mehir
            message=_ "Forgive me this, but who are you people? It almost seems like you're gods of this place."
        [/message]
        [message]
            speaker=Guru
            message=_ "Oh, believe me, we are far from gods, but we know far more than others. We are just a group of people with the goal to study the world and it's secrets, for science. One would say - 'knowledge is power' - we agree with this philosophy to a certain extent. But sometimes ignorance is bliss..."
        [/message]
        [message]
            speaker=Guru
            message=_ "Some nations are aware of us, but we try not to interfere, and don't want to get tangled in others' wars. That is why we live in such a remote place."
        [/message]
        [message]
            speaker=Mehir
            image=portraits/mehir-leader-angry.png
            message=_ "Don't be kidding me! I fought your kind in our territory - TWICE! At first, they attempted to steal one of our artifacts, and later violated one of our sacred places and killed one of our leaders! I clearly deserve an explanation here."
        [/message]
        [message]
            speaker=Guru
            message=_ "You mean Aerius, our cartographer. We sent him on a mission to learn more about your civilization. He was given resources for this task, but it looks like he used them in a wrong way... <i>or not...</i>"
        [/message]
        [message]
            speaker=Guru
            message=_ "Your young country was something completely new to us. The development pace of your Abyss-based civilization was extremely rapid, and quickly gained our attention. We wanted to learn more about you, and your intentions. Thankfully your kind seems to be peaceful in nature and similar to us in some ways."
        [/message]
        [message]
            speaker=Mehir
            image=portraits/mehir-leader-angry.png
            message=_ "Well, the key difference is that we do not ignorantly burst into other people's places like it's no big deal!"
        [/message]
        [message]
            speaker=Guru
            message=_ "I understand your anger. Aerius was not suited for this task, and so the Master Council's decision was a failure, *to himself* <i>but also an extraordinary success</i>... I do apologize for all the harm caused by Aerius's actions. To prove our good intentions, we will help you get that battery. Firstly, I will personally order three of our Ums to aid you in your journey. They are powerful beings, trust me."
        [/message]
        [message]
            speaker=Guru
            message=_ "Also, no offense, but your personal circle is a tad bit too primitive for the task at hand."
        [/message]
        [message]
            speaker=Mehir
            message=_ "What? This is the personal megacircle - the pinnacle of our abysmal design! Mine even has a special feature of summoning my deputy while he's bathing!"
        [/message]
        [message]
            speaker=Guru
            message=_ "Really? That's quite a novelty in sorcery... Well, we know how to upgrade it further, for free! Consider this part of the apology for the damage Aerius has done. I'll tell Umbrez, one of our void mages who knows a great deal about abyssal magic, to do just that. Meet him at the Northern Skydock, he'll upgrade your circle with our magic."
        [/message]
        [message]
            speaker=Mehir
            image=portraits/mehir-leader-happy.png
            message=_ "Great! Any help from you will prove useful. I didn't expect that you would help us so much in the first place."
        [/message]
        [message]
            speaker=Guru
            message=_ "You can still ask a few more questions if you want."
        [/message]
        [message]
            speaker=Mehir
            message=_ "Ah, yes. Since you claim that you observe things from here, then I am sure you are aware that Kharos was under attack by unknown forces. Kharosians know about your kingdom, they even trade with you, yet you didn't help them. Why?"
        [/message]
        [message]
            speaker=Guru
            message=_ "Because of your arrival, our intervention was simply unnecessary at that point. You managed to fend Tharis crusade off with ease."
        [/message]
        [message]
            speaker=Mehir
            message=_ "So they are called Tharis... I wonder, why Anthi sent Atiros to us asking for help instead of sending him to you. This is what I meant when asking the question."
        [/message]
        [message]
            speaker=Guru
            message=_ "For several reasons. Firstly, we were unreachable at that point as our Sky Kingdom constantly moves over the ocean. When we are above continents we occasionally visit the surface, trade with people there, then move back over the ocean. We visit Kharos several times per year."
        [/message]
        [message]
            speaker=Guru
            message=_ "And secondly, Kharosians know that we have a neutral status. They knew we wouldn't help them. But the most ironic part is, they didn't even need help. Even yours..."
        [/message]
        [message]
            speaker=Mehir
            message=_ "Wait, what exactly do you mean?"
        [/message]
        [message]
            speaker=Guru
            message=_ "The Sun Ray - their holiest artifact I mentioned earlier - contains so much power, that releasing it in front of the Tharis forces would melt their whole army in an instant. But Anthi does not want to mess with it. She even refused to direct more of its power to her warriors <i>*to himself* because we agreed so</i>. Had she done otherwise, they would have likely stopped the Tharis by themselves."
        [/message]
        [message]
            speaker=Guru
            message=_ "But she decided to search for other solutions. Anthi probably only wanted to use the Sun Ray as a last resort."
        [/message]
        [message]
            speaker=Mehir
            message=_ "So you want to tell me that my journey to Kharos was completely unnecessary?"
        [/message]
        [message]
            speaker=Guru
            message=_ "It mostly depends on your perspective, but probably yes."
        [/message]
        [message]
            speaker=Mehir
            message=_ "If this is true, that they could've won without us... Dear Nomolas... I led my people for nothing. And now we are stuck here..."
        [/message]
        [message]
            speaker=Guru
            message=_ "Well, at least you have traveled the world, embarked on an quest, and met some interesting people."
        [/message]
        [message]
            speaker=Guru

            message=_ "Also, have you not helped Kharos, we wouldn't have met <i>*to himself* which would have completely ruined the plan</i>. Besides, once you return to the Abyss, you'll have plenty of stories to tell your people, about all the things you've been through. You'll be known as a legend!"
        [/message]
        [message]
            speaker=Mehir
            message=_ "You are right. I think it had to be that way. So what about Tharis? Who are they? Will they stop invading Kharos? And why did they even attack? Their magic is powerful, maybe even comparable with yours. Aren't you afraid?"
        [/message]
        [message]
            speaker=Guru
            message=_ "Afraid of them? Hardly, if at all. Their armies certainly are very powerful, but they are unable to reach the Sky Kingdom, since, as you have seen, even your best carpet riders can't fly that high, not to mention the Tharis magi, who can only hover a few meters above the surface. Anyway, as for the Tharis themselves, they're are a strange nation with a cult of darkness as their religion. Their lands are very far away, and they've attempted to kill the scouts we sent to their land, so gathering information about them has proven to be a difficult task, to say the least."
        [/message]
        [message]
            speaker=Mehir
            message=_ "I see. Though there's one more thing about them I want to know: They've been rambling about the return of the 'Destroyers', who would 'spare them if they proven themselves worthy'. It's probably just a myth in my opinion, but I'd like to be sure."
        [/message]
        [message]
            speaker=Guru
            message=_ "*gives Mehir a nervous look* Those things are no mere myths, summoner. They wiped out no less than five civilizations, including the Runemasters! Those spawns of darkness are able to reanimate the dead as their puppets. Thankfully their invasion has been stopped, but their remnants still haunt some desolate parts of the world..."
        [/message]
        [message]
            speaker=Mehir
            message=_ "Wow... I really hope not to run into those things on my trip to the ruins..."
        [/message]
        [message]
            speaker=Guru
            message=_ "Go for that battery. We will do the rest."
        [/message]
        {MOVE_UNIT id=Mehir 2 20}
        [hide_unit]
            x,y=2,20
        [/hide_unit]
        [store_unit]
            [filter]
                side=1
                [not]
                    id=Mehir
                [/not]
                [not]
                    x,y=recall,recall
                [/not]
            [/filter]
            variable=mehirs_army
        [/store_unit]

        [foreach]
            array=mehirs_army
            [do]
                {MOVE_UNIT x,y=$this_item.x,$this_item.y 3 20}
                {PUT_TO_RECALL_LIST x,y=3,20}
            [/do]
        [/foreach]

        [store_unit]
            [filter]
                id=Mehir
            [/filter]
            variable=mehirold
        [/store_unit]
        {MOVE_UNIT id=Guru 16 7}
        [message]
            speaker=Guru
            message= _ "It has started. Finally."
        [/message]
        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 100}
            carryover_report=no
            linger_mode=no
        [/endlevel]
    [/event]

    {I8M19_TERRAIN}
[/scenario]
