#textdomain wesnoth-To_Lands_Unknown
[scenario]
    id=22_Home
    next_scenario=null
#    name= _ "Home"
    name= _ "Epilogue"
    map_data="{~add-ons/To_Lands_Unknown/maps/23_Home.map}"
    turns=-1
    victory_when_enemies_defeated=no

    {SCENARIO_MUSIC elvish-theme.ogg}
    {MORNING}

    [side]
        side=1
        controller=human
        team_name=mehirteam
        user_team_name= _ "team_name^Mehir"

        type=TLU_Mehir_Leader
        id=Mehir
        name= _ "Mehir"
        unrenamable=yes
        canrecruit=yes
        profile=portraits/mehir-last.png

        {GOLD 0 0 0}
        {INCOME -2 -2 -2}
    [/side]

    [side]
        side=2
        controller=ai
        team_name=mehirteam
#        user_team_name= _ "team_name^Mages"
        user_team_name= _ "team_name^Magi"

        type=EoMa_Guru
        id=Guru
        name= _ "Guru"
        image_icon="portraits/sky_kingdom/guru.png~CROP(150,10,150,150)~SCALE(72,72)"
        unrenamable=yes
        canrecruit=yes
        facing=sw

        {GOLD 500 700 1200}
        {INCOME 10 5 0}
    [/side]

#define RECALL_EPILOGUE LVL
{REPEAT 15 (
        [if]
            [have_unit]
                side=1
                count=16
            [/have_unit]
            [else]
				[if]
				[have_unit]
					side=1
					level={LVL}
					search_recall_list=yes
					race=summoner
				[/have_unit]
				[then]
					[recall]
						x,y=13,15
						level={LVL}
						show=no
						race=summoner
					[/recall]
				[/then]
				[/if]
            [/else]
        [/if]
		)}
#enddef
    [event]
        name=prestart
		
		[remove_event]
			id=mehirgate_spawn_event1
		[/remove_event]
		
		[kill]
			id=Glomin
		[/kill]
		[kill]
			type=EoMa_Um
		[/kill]
        {RECALL_RASHTI}
		
		{RECALL_EPILOGUE 4}
		{RECALL_EPILOGUE 3}
		{RECALL_EPILOGUE 2}
		{RECALL_EPILOGUE 1}
		
        {PLACE_HALO "scenery/white.png" 12 8}
        {SCATTER_UNITS 80 "EoMa_Sorcerer,EoMa_Void_Mage,EoMa_Sorcerer,EoMa_Elementalist,EoMa_Battlemage,EoMa_Subversive_Mage,EoMa_Black_Mage,EoMa_Mage_of_Water,EoMa_Mage_of_Fire,EoMa_Mage_of_Air" 0 (
            terrain=Xv
            x=1-7,19-24
            y=11-16,11-16

            [not]
                [filter]
                [/filter]
            [/not]
        ) (
            side=2
            generate_name=yes
            random_traits=yes
        )}

        {MODIFY_UNIT (
            [filter_location]
                x=1-7
                y=11-16
            [/filter_location]
        ) facing ne}

        {MODIFY_UNIT (
            [filter_location]
                x=19-24
                y=11-16
            [/filter_location]
        ) facing nw}

        [disallow_recruit]
            side=1
            type=EoMa_Novice_Summoner,EoMa_Dispeller,EoMa_Dimensional_Gate,EoMa_Dimensional_Gate_II,EoMa_Jinn,EoMa_Rhami,EoMa_Fire_Elemental,EoMa_Water_Elemental,EoMa_Camel_Rider,EoMa_Carpet_Rider,EoMa_Summoner,EoMa_Great_Jinn,EoMa_Efreet,EoMa_Fire_Avatar,EoMa_Water_Avatar,EoMa_Carpet_Master,EoMa_Heavy_Camel_Rider,EoMa_RhamiDatu,EoMa_RhamiKai
        [/disallow_recruit]
    [/event]

    [event]
        name=turn 1

        [sound_source]
            id=abyss
            x,y=13,7
            sounds="abyss.wav"
            delay=0
            chance=100
            full_range=6
            fade_range=3
            loop=-1
        [/sound_source]
        [sound]
            name=magic-faeriefire-miss.ogg
        [/sound]
        {FADE_STEP 225 50}
        {REMOVE_IMAGE 12 8}
        {FADE_STEP 192 5}
        {FADE_STEP 160 5}
        {FADE_STEP 128 5}
        {FADE_STEP 96 5}
        {FADE_STEP 64 5}
        {FADE_STEP 32 5}
        {FADE_STEP 0 5}

        {SCROLL_TO 13 7}
        [message]
            speaker=Mehir
            image=portraits/mehir-last-happy.png
            message= _ "The Abyss! Finally!"
        [/message]
#        [message]
#            speaker=Mehir
#            message= _ "I remember this place — these are the highest tiers of al-Kamija. When I was a guard, I often patrolled these areas. I thought I would never see them again..."
#            message= _ "I can even see the highest tiers of al-Kamija! I thought I'd never see them again..."
#        [/message]
        [message]
            speaker=Guru
#            message= _ "But thanks to your stubbornness, your dream has come true. Now you all can join your friends and relatives."
            message= _ "Thanks to your persistence, your dream has come true. Now you all can join your friends and relatives."
        [/message]
		[message]
            speaker=Mehir
#            message= _ "Rashti! Tell me, is this passage stable?"
            message= _ "Rashti! Is the passage safe? I'd like to be sure the magi aren't screwing me over..."
        [/message]
		[message]
            speaker=Rashti
#            message= _ "Yes. I sense only a few minor disruptions. They are probably caused by the lack of a stabilizing circle. Anyway, don't worry, this gate is synchronized and leads directly to the Abyss."
            message= _ "Don't worry, the gate is fully stable, as long as it's not cut off from its energy source."
        [/message]
        [message]
            speaker=Mehir
#            message= _ "Go first, soldiers..."
            message= _ "Hmmm... Go first, soldiers..."
        [/message]

        [store_locations]
            terrain=Ai
            variable=portal
        [/store_locations]

        {CLEAR_VARIABLE summoners}
        [store_unit]
            [filter]
                side=1
                [not]
                    id=Mehir
                [/not]
                [not]
                    id=Rashti
                [/not]
            [/filter]
            variable=summoners
        [/store_unit]

        {FOREACH summoners i}
            {RANDOM 0..8}
            {MOVE_UNIT x,y=$summoners[$i].x,$summoners[$i].y $portal[$random].x $portal[$random].y}
            [kill]
                x,y=$portal[$random].x,$portal[$random].y
                animate=no
            [/kill]
        {NEXT i}
		
		[message]
            speaker=Mehir
            message= _ "It is your turn, Rashti."
        [/message]
		{MOVE_UNIT id=Rashti 13 11}
		[message]
            speaker=Rashti
            message= _ "*stares into the Abyss* The wind in my hair... it feels different now."
        [/message]
		[message]
            speaker=Rashti
            message= _ "I am not the same entity that I used to be, when entering your mortal world several hundred years ago."
        [/message]
		[message]
            speaker=Rashti
            message= _ "When I took my form at that time, I was torn between reason and passion - to reflect two eternal forces struggling in human minds and hearts. But now I am finally united."
        [/message]
		[message]
            speaker=Rashti
            message= _ "This makes me wonder... Is the Abyss still the same place now?"
        [/message]
		[message]
            speaker=Guru
            message= _ "There is only one way to find out. The Abyss itself is already a divided place full of chaos, both creative and destructive in nature. This will not change anytime soon."
        [/message]
		[message]
            speaker=Guru
            message= _ "You have achieved harmony, something most humans can only dream of. You can use the knowledge from the mortal world to do great things as a ruler of your dimension."
        [/message]
		[message]
            speaker=Rashti
            message= _ "I have seen so much during my presence in this realm: deserts, mountains, sky, rain, my old masters dying and new ones being elected. In the end, I chose Mehir as my final master. I learned so much during the time with him - more than I could ever imagine. I even perished for a moment only to be born again. Now I am eternal, and I regret nothing."
        [/message]
        [message]
            speaker=Rashti
            message= _ "Standing here by his side I see my Home... and I know I am finally back."
        [/message]
        {MOVE_UNIT id=Rashti 12 8}
        [kill]
            id=Rashti
            animate=no
        [/kill]
		
		[message]
            speaker=Mehir
#            message= _ "I have never thought I would come that far. The Abyss is just in front of me right now. After my country dissipated, I felt responsible for my men like never before. I promised we would return no matter what."
            message= _ "I have never thought I would come this far. If I told my past self that he'll fight your men, befriend lizards wanting to cook Jaffar alive, become the leader of Tar-Tabar and almost end up stuck here forever after aiding distant relatives of our kind, he would probably tell me to see a doctor..."
        [/message]
#		[message]
#            speaker=Mehir
#            message= _ "And to think not so long ago I saw your magnificent flying kingdom, felt Kharosian rain on my skin, fought against efreeti in the Great Desert's heat, was nearly sucked in by a giant red portal in Ka-Gatta, aided strange jungle lizards who almost cooked Jaffar alive. I used to be little more than just a selfish city guard with lots of luck, but now, I am an entirely different person."
#        [/message]
		[message]
            speaker=Guru
#            message= _ "Indeed. There are times when it is good to take risks, no matter the price. All your actions so far have led you to this very moment, and in it, you have achieved all of your goals."
#            message= _ "Indeed. There are times when it is good to take risks, no matter the price. All your actions so far have led you to this very moment. You have finally achieved all your goals. One might say you went to lands unknown."
            message= _ "Well, fate can certainly turn out in bizarre ways. Well, it was certainly worth it: you could've easily been just another generic person <i>*to himself* had it not been for my interference...</i> yet you're a walking a legend!"
        [/message]
		[message]
            speaker=Mehir
#            message= _ "You are right. There is nothing left in this world for me. I am free to go."
#            message= _ "You are right. There is nothing left in this world for me. I am free to go. But I wonder, if you how to get to the Abyss, then why not do that?"
            message= _ "Yeah, all the stories I could tell... By the way, I wonder, if you how to get to the Abyss, then why not do that?"
        [/message]

#        [message]
#            speaker=Guru
#            message= _ "They are waiting for you, Mehir. You have to go now."
#        [/message]
#        [message]
#            speaker=Mehir
#            message= _ "I wonder... If you know the Abyss and you know how to get there..."
#        [/message]
#        [message]
#            speaker=Mehir
#            message= _ "...then why not want to do that?"
#        [/message]
        [message]
            speaker=Guru
#           message= _ "Ah, summoner, there is still an enormous amount of knowledge left in this world to learn, and thus we have no intention of going to other dimensions yet. And besides, as you have already been told, magic only works in our world, and thus we won't be able to do much in the Abyss, even if we get there. Anyway, hurry up! The portal is going to collapse any second now."
            message= _ "Ah, summoner, there is still an enormous amount of knowledge left in this world to learn, and thus we have no intention of going to other dimensions yet. And besides, as magic doesn't work in the Abyss, so even if we get there, we would lack the ways to sufficiently research it. We might consider delving into other dimensions eventually, but first we'd need to exhaust everything this one has to offer, which is a no easy task..."
        [/message]
        [message]
            speaker=Mehir
            message= _ "I understand. Anyway, thank you for your help."
        [/message]

        [terrain]
            x,y=13,9
            terrain=Ai
        [/terrain]

		{MOVE_UNIT id=Mehir 13 9}

        {SCROLL_TO 13 7}
		
        [sound]
            name=magic-faeriefire.ogg
        [/sound]
        {FADE_STEP 0 5}
        {FADE_STEP 32 5}
        {FADE_STEP 64 5}
        {FADE_STEP 96 5}
        {FADE_STEP 128 5}
        {FADE_STEP 160 5}
        {FADE_STEP 192 5}
        {FADE_STEP 225 50}

        [remove_sound_source]
            id=abyss
        [/remove_sound_source]
        [sound]
            name=lightning-miss.ogg
        [/sound]

        {PLACE_HALO "scenery/white.png" 12 8}
        [hide_unit]
            id=Mehir
        [/hide_unit]
        {FADE_STEP 0 1}
        {REMOVE_IMAGE 12 8}

        [terrain]
            x,y=7,3
            terrain=Xv
        [/terrain]
        [redraw]
        [/redraw]

        [delay]
            time=3000
        [/delay]
#        [message]
#            speaker=Guru
#            message= _ "That was close..."
#        [/message]
		[message]
            speaker=Guru
            message= _ "You have arrived too early, Mehir."
        [/message]
        [message]
            speaker=Guru
            message= _ "But when the time is right, you will return..."
        [/message]
        [message]
            speaker=Guru
            message= _ "...and fulfill our dream..."
        [/message]
        [role]
            type=EoMa_Void_Mage
            role=mage
        [/role]
        [message]
            role=mage
            message= _ "*ahem* Pardon, but why did we bother with all the effort to get this particular summoner here? Wasn't Nomolas the goal?"
        [/message]
        [message]
            speaker=Guru
            message= _ "Having aided a summoner should repair our diplomatic relations with them a bit. With his nation no longer viewing us as enemies, and being busy battling the native red beings, we might catch a glimpse of an opportunity to finally get our hands on Nomolas."
        [/message]
        [message]
            speaker=Guru
            message= _ "Don't forget that only he has the power to achieve what the First Civilization of Magi always dreamed of and failed to execute..."
        [/message]
        [message]
            role=mage
            message= _ "Fair enough. And besides, his contribution of a valuable source of historical data (a live dwarf), was certainly appreciated."
        [/message]
		[message]
            speaker=Guru
            message= _ "Indeed. Anyway, today's meeting is officially over. You may leave, gentlemen."
        [/message]
		#{FAKE_UNIT_MOVE 13 13 17 15 1 EoMa_Constructor ()}
		#{UNIT 2 (EoMa_Constructor) 13 15 (id,name,upkeep,animate=Glomin,Glomin,loyal,yes
#	image_icon="portraits/runemasters/mechanic.png~CROP(150,50,130,130)~SCALE(72,72)"
#		{IS_HERO})}
#		[message]
#            speaker=Glomin
#            message= _ "Howdy! Did I miss something?"
#        [/message]
#		[message]
#            speaker=Guru
#            message= _ "Oh it is you, dwarf. The people who helped you escape, departed to another dimension. But we believe they will be back soon..."
#        [/message]
#		[message]
#            speaker=Guru
#            message= _ "In the meantime we would like to ask you a few questions, if you don't mind. You may know something extremely important to us."
#        [/message]
        [endlevel]
            result=victory
            linger_mode=no
            replay_save=no
            carryover_report=no
        [/endlevel]
    [/event]
    {I8M23_TERRAIN}
[/scenario]
