#textdomain wesnoth-To_Lands_Unknown
[scenario]
    id=22_Home
    next_scenario=null
    name= _ "Home"
    map_data="{~add-ons/To_Lands_Unknown/maps/23_Home.map}"
    turns=-1
    victory_when_enemies_defeated=no

    {SCENARIO_MUSIC elvish-theme.ogg}
    {MORNING}

    [side]
        side=1
        controller=human
        team_name=mehirteam
        user_team_name= _ "team_name^Mehir"

        type=TLU_Mehir_Leader
        id=Mehir
        name= _ "Mehir"
        unrenamable=yes
        canrecruit=yes
        profile=portraits/mehir-last.png

        {GOLD 1000 800 600}
        {INCOME 10 5 0}
    [/side]

    [side]
        side=2
        controller=ai
        team_name=mehirteam
        user_team_name= _ "team_name^Mages"

        type=EoMa_Guru
        id=Guru
        name= _ "Guru"
        unrenamable=yes
        canrecruit=yes
        facing=sw

        {GOLD 500 700 1200}
        {INCOME 10 5 0}
    [/side]

    [event]
        name=prestart
		
		[kill]
			id=Glomin
		[/kill]
		[kill]
			type=EoMa_Um
		[/kill]
        {RECALL_RASHTI}
        {VARIABLE counter 15}
        [store_unit]
            [filter]
                side=1
                x,y=recall,recall
            [/filter]
            variable=landing
            kill=yes
        [/store_unit]
        [if]
            [variable]
                name=counter
                greater_than=$landing.length
            [/variable]
            [then]
                {VARIABLE counter $landing.length}
            [/then]
        [/if]
        {FOREACH landing i}
            [if]
                [variable]
                    name=counter
                    greater_than=0
                [/variable]
                [then]
                    [unstore_unit]
                        x,y=13,15
                        find_vacant=yes
                        variable=landing[$i]
                    [/unstore_unit]
                [/then]
            [/if]
            {VARIABLE_OP counter sub 1}
        {NEXT i}
        {CLEAR_VARIABLE landing}

        [if]
            [have_unit]
                side=1
                count=16
            [/have_unit]
            [else]
                [store_unit]
                    [filter]
                        side=1
                    [/filter]
                    variable=summoners
                [/store_unit]
                {VARIABLE difference 16}
                {VARIABLE_OP difference sub $summoners.length}

                {SCATTER_UNITS ($difference) "EoMa_Novice_Summoner,EoMa_Summoner,EoMa_Dispeller,EoMa_Camel_Rider,EoMa_Carpet_Rider" 0 (
                    x=10-16
                    y=14-16

                    [not]
                        [filter]
                        [/filter]
                    [/not]
                ) (
                    side=1
                    generate_name=yes
                    random_traits=yes
                )}
            [/else]
        [/if]

        {PLACE_HALO "scenery/white.png" 12 8}
        {SCATTER_UNITS 80 "EoMa_Sorcerer,EoMa_Void_Mage,EoMa_Sorcerer,EoMa_Elementalist,EoMa_Battlemage,EoMa_Subversive_Mage,EoMa_Black_Mage" 0 (
            terrain=Xv
            x=1-7,19-24
            y=11-16,11-16

            [not]
                [filter]
                [/filter]
            [/not]
        ) (
            side=2
            generate_name=yes
            random_traits=yes
        )}

        {MODIFY_UNIT (
            [filter_location]
                x=1-7
                y=11-16
            [/filter_location]
        ) facing ne}

        {MODIFY_UNIT (
            [filter_location]
                x=19-24
                y=11-16
            [/filter_location]
        ) facing nw}

        [disallow_recruit]
            side=1
            type=EoMa_Novice_Summoner,EoMa_Dispeller,EoMa_Dimensional_Gate,EoMa_Dimensional_Gate_II,EoMa_Jinn,EoMa_Rhami,EoMa_Fire_Elemental,EoMa_Water_Elemental,EoMa_Camel_Rider,EoMa_Carpet_Rider,EoMa_Summoner,EoMa_Great_Jinn,EoMa_Efreet,EoMa_Fire_Avatar,EoMa_Water_Avatar,EoMa_Carpet_Master,EoMa_Heavy_Camel_Rider,EoMa_RhamiDatu,EoMa_RhamiKai
        [/disallow_recruit]
    [/event]

    [event]
        name=turn 1

        [sound_source]
            id=abyss
            x,y=13,7
            sounds="abyss.wav"
            delay=0
            chance=100
            full_range=6
            fade_range=3
            loop=-1
        [/sound_source]
        [sound]
            name=magic-faeriefire-miss.ogg
        [/sound]
        {FADE_STEP 225 50}
        {REMOVE_IMAGE 12 8}
        {FADE_STEP 192 5}
        {FADE_STEP 160 5}
        {FADE_STEP 128 5}
        {FADE_STEP 96 5}
        {FADE_STEP 64 5}
        {FADE_STEP 32 5}
        {FADE_STEP 0 5}

        {SCROLL_TO 13 7}
        [message]
            speaker=Mehir
            image=portraits/mehir-last-happy.png
            message= _ "The Abyss! Finally!"
        [/message]
        [message]
            speaker=Mehir
            message= _ "I remember this place — these are the highest tiers of al-Kamija. When I was a guard, I often patrolled these areas. I thought I would never see them again..."
        [/message]
        [message]
            speaker=Guru
            message= _ "But thanks to your stubbornness, your dream has come true. Now you all can join your friends and relatives."
        [/message]
		[message]
            speaker=Mehir
            message= _ "Rashti! Tell me, is this passage stable?"
        [/message]
		[message]
            speaker=Rashti
            message= _ "Yes. I sense only a few minor disruptions. They are probably caused by the lack of a stabilizing circle. Anyway, don't worry, this gate is synchronized and leads directly to the Abyss."
        [/message]
        [message]
            speaker=Mehir
            message= _ "Go first, soldiers..."
        [/message]

        [store_locations]
            terrain=Ai
            variable=portal
        [/store_locations]

        {CLEAR_VARIABLE summoners}
        [store_unit]
            [filter]
                side=1
                [not]
                    id=Mehir
                [/not]
                [not]
                    id=Rashti
                [/not]
            [/filter]
            variable=summoners
        [/store_unit]

        {FOREACH summoners i}
            {RANDOM 0..8}
            {MOVE_UNIT x,y=$summoners[$i].x,$summoners[$i].y $portal[$random].x $portal[$random].y}
            [kill]
                x,y=$portal[$random].x,$portal[$random].y
                animate=no
            [/kill]
        {NEXT i}
		
		[message]
            speaker=Mehir
            message= _ "It is your turn, Rashti."
        [/message]
		{MOVE_UNIT id=Rashti 13 11}
		[message]
            speaker=Rashti
            message= _ "*stares into the Abyss* The wind in my hair... it feels different now."
        [/message]
		[message]
            speaker=Rashti
            message= _ "I am not the same entity that I used to be, when entering your mortal world several hundred years ago."
        [/message]
		[message]
            speaker=Rashti
            message= _ "When I took my form at that time, I was torn between reason and passion - to reflect two eternal forces struggling in human minds and hearts. But now I am finally united."
        [/message]
		[message]
            speaker=Rashti
            message= _ "This makes me wonder... Is the Abyss still the same place now?"
        [/message]
		[message]
            speaker=Guru
            message= _ "There is only one way to find out. The Abyss itself is already a divided place full of chaos, both creative and destructive in nature. This will not change anytime soon."
        [/message]
		[message]
            speaker=Guru
            message= _ "You have achieved harmony, something most humans can only dream of. You can use the knowledge from the mortal world to do great things as a ruler of your dimension."
        [/message]
		[message]
            speaker=Rashti
            message= _ "I have seen so much during my presence in this realm: deserts, mountains, sky, rain, my old masters dying and new ones being elected. In the end, I chose Mehir as my final master. I learned so much during the time with him - more than I could ever imagine. I even perished for a moment only to be born again. Now I am eternal, and I regret nothing."
        [/message]
        [message]
            speaker=Rashti
            message= _ "Standing here by his side I see my Home... and I know I am finally back."
        [/message]
        {MOVE_UNIT id=Rashti 12 8}
        [kill]
            id=Rashti
            animate=no
        [/kill]
		
		[message]
            speaker=Mehir
            message= _ "I have never thought I would come that far. The Abyss is just in front of me right now. After my country dissapeared, I felt responsible for my men like never before. I promised we would return no matter what."
        [/message]
		[message]
            speaker=Mehir
            message= _ "And to think not so long ago I saw your magnificent flying kingdom, felt Kharosian rain on my skin, fought against efreeti in the Great Desert's heat, was nearly sucked in by a giant red portal in Ka-Gatta, aided strange jungle lizards who almost cooked Jaffar alive. I used to be little more than just a selfish city guard with lots of luck, but now, I am an entirely different person."
        [/message]
		[message]
            speaker=Guru
            message= _ "Indeed. There are times when it is good to take risks, no matter the price. All your actions so far have led you to this very moment, and in it, you have achieved all of your goals."
        [/message]
		[message]
            speaker=Mehir
            message= _ "You are right. There is nothing left in this world for me. I am free to go."
        [/message]

        [store_unit]
            [filter]
                id=Mehir
            [/filter]
            variable=mehirvar
        [/store_unit]
        {VARIABLE mehirvar.max_moves 5}
        {VARIABLE mehirvar.moves 5}

        [unstore_unit]
            variable=mehirvar
            find_vacant=no
        [/unstore_unit]

        [objectives]
            side=1
            [objective]
                description= _ "Enter the Abyss"
                condition=win
            [/objective]
        [/objectives]
    [/event]

    [event]
        name=moveto

        [filter]
            id=Mehir
            [filter_location]
                terrain=Ai
            [/filter_location]
        [/filter]

        [message]
            speaker=Mehir
            image=portraits/mehir-last-happy.png
            message= _ "Thank you for everything... Farewell."
        [/message]
        [terrain]
            x,y=13,9
            terrain=Ai
        [/terrain]
        {MOVE_UNIT id=Mehir 13 9}

        {SCROLL_TO 13 7}
        [sound]
            name=magic-faeriefire.ogg
        [/sound]
        {FADE_STEP 0 5}
        {FADE_STEP 32 5}
        {FADE_STEP 64 5}
        {FADE_STEP 96 5}
        {FADE_STEP 128 5}
        {FADE_STEP 160 5}
        {FADE_STEP 192 5}
        {FADE_STEP 225 50}

        [remove_sound_source]
            id=abyss
        [/remove_sound_source]
        [sound]
            name=lightning-miss.ogg
        [/sound]

        {PLACE_HALO "scenery/white.png" 12 8}
        [hide_unit]
            id=Mehir
        [/hide_unit]
        {FADE_STEP 0 1}
        {REMOVE_IMAGE 12 8}

        [terrain]
            x,y=7,3
            terrain=Xv
        [/terrain]
        [redraw]
        [/redraw]

        [delay]
            time=3000
        [/delay]

        {SCROLL_TO 13 12}

        [message]
            speaker=Guru
            message= _ "You have arrived too early, Mehir."
        [/message]
        [message]
            speaker=Guru
            message= _ "But when the time is right, you will return..."
        [/message]
        [message]
            speaker=Guru
            message= _ "...and fullfil our dream..."
        [/message]

        [endlevel]
            result=victory
            linger_mode=no
            replay_save=no
            carryover_report=no
        [/endlevel]
    [/event]

    [event]
        name=turn 2

        [message]
            speaker=Guru
            message= _ "They are waiting for you, Mehir. You have to go now."
        [/message]
        [message]
            speaker=Mehir
            message= _ "I wonder... If you know the Abyss and you know how to get there..."
        [/message]
        [message]
            speaker=Mehir
            message= _ "...then why not want to do that?"
        [/message]
        [message]
            speaker=Guru
            message= _ "Ah, summoner, there is still an enormous amount of knowledge left in this world to learn, and thus we have no intention of going to other dimensions yet. And besides, as you have already been told, magic only works in our world, and thus we won't be able to do much in the Abyss, even if we get there. Anyway, hurry up! The portal is going to collapse any second now."
        [/message]
		[message]
            speaker=Mehir
            message= _ "As you wish, I hope we meet again. Thank you, and farewell!"
        [/message]

        [terrain]
            x,y=13,9
            terrain=Ai
        [/terrain]

		{MOVE_UNIT id=Mehir 13 9}

        {SCROLL_TO 13 7}
		
        [sound]
            name=magic-faeriefire.ogg
        [/sound]
        {FADE_STEP 0 5}
        {FADE_STEP 32 5}
        {FADE_STEP 64 5}
        {FADE_STEP 96 5}
        {FADE_STEP 128 5}
        {FADE_STEP 160 5}
        {FADE_STEP 192 5}
        {FADE_STEP 225 50}

        [remove_sound_source]
            id=abyss
        [/remove_sound_source]
        [sound]
            name=lightning-miss.ogg
        [/sound]

        {PLACE_HALO "scenery/white.png" 12 8}
        [hide_unit]
            id=Mehir
        [/hide_unit]
        {FADE_STEP 0 1}
        {REMOVE_IMAGE 12 8}

        [terrain]
            x,y=7,3
            terrain=Xv
        [/terrain]
        [redraw]
        [/redraw]

        [delay]
            time=3000
        [/delay]
        [message]
            speaker=Guru
            message= _ "That was close..."
        [/message]
        [message]
            speaker=Guru
            message= _ "You have arrived too early, Mehir."
        [/message]
        [message]
            speaker=Guru
            message= _ "But when the time is right, you will return..."
        [/message]
        [message]
            speaker=Guru
            message= _ "...and fullfil our dream..."
        [/message]
        [endlevel]
            result=victory
            linger_mode=no
            replay_save=no
            carryover_report=no
        [/endlevel]
    [/event]
    {I8M23_TERRAIN}
[/scenario]
