#textdomain wesnoth-To_Lands_Unknown

#define MEDITATION_EVENT ABILITY AMOUNT
    [event]
        name=side 1 turn end
        id={ABILITY}_event
        first_time_only=no
        [filter_condition]
            [have_unit]
                ability={ABILITY}
            [/have_unit]
        [/filter_condition]

        [store_unit]
            variable=meditation
            [filter]
                ability={ABILITY}
            [/filter]
        [/store_unit]
        #evaluate
        [if]
            {VARIABLE_CONDITIONAL meditation.moves equals $meditation.max_moves}
            [then]
                {VARIABLE_OP meditation.experience add {AMOUNT}}
                [unstore_unit]
                    variable=meditation
                    text="+{AMOUNT}" + _" exp"
                    red,green,blue=50,50,200
                [/unstore_unit]
            [/then]
        [/if]
        {CLEAR_VARIABLE meditation}
    [/event]
#enddef

#define MEHIR_AURAS
    [event]
        name=new turn
        first_time_only=no
        id=mehir_auras
        [filter_condition]
            [have_unit]
                type=TLU_Mehir_Leader
            [/have_unit]
        [/filter_condition]
        [store_unit]
            [filter]
                [filter_adjacent]
                    type=TLU_Mehir_Leader
                    is_enemy=yes
                [/filter_adjacent]
                [not]
                    type=TLU_DharmaRashti,TLU_DharmaRashti2,TLU_Rashti,TLU_Rashti2
                [/not]
            [/filter]
            variable=harm2
        [/store_unit]

        [foreach]
            array=harm2
            [do]
                [if]
                    [have_unit]
                        ability=i8slowingaura
                    [/have_unit]
                    [then]
                        {VARIABLE this_item.status.slowed yes}
                        [unstore_unit]
                            find_vacant=no
                            variable=this_item
                        [/unstore_unit]
                    [/then]
                [/if]
                [if]
                    [have_unit]
                        ability=i8damagingaura
                    [/have_unit]
                    [then]
                        {VARIABLE_OP this_item.hitpoints sub 8}
                        [if]
                            [variable]
                                name=this_item.hitpoints
                                less_than_equal_to=0
                            [/variable]
                            [then]
                                [kill]
                                    x,y=$this_item.x,$this_item.y
                                    fire_event=yes
                                    animate=yes
                                [/kill]
                            [/then]
                            [else]
                                [animate_unit]
                                    flag=attack
                                    [filter]
                                        id=Mehir
                                    [/filter]
                                    [primary_attack]
                                        name=incantation of power
                                    [/primary_attack]
                                    hits=no
                                    [facing]
                                        [filter]
                                            x,y=$this_item.x,$this_item.y
                                        [/filter]
                                    [/facing]
                                [/animate_unit]
                                [unstore_unit]
                                    find_vacant=no
                                    variable=this_item
                                    text= _ "8"
                                    {COLOR_HARM}
                                [/unstore_unit]
                            [/else]
                        [/if]
                    [/then]
                [/if]
            [/do]
        [/foreach]
    [/event]
#enddef

#define EVENTS_MEHIR_AMLA
    [event]
        name=post summon
        first_time_only=no
        [filter_second]
            ability=tlu_veteran_summons
        [/filter_second]

        [store_unit]
            [filter]
                x,y=$x1,$y1
            [/filter]
            variable=summoned
        [/store_unit]

        {VARIABLE_OP summoned.experience add 8}

        [unstore_unit]
            variable=summoned
            find_vacant=no
            text= _ "+8 exp"
            red,green,blue=50,50,200
        [/unstore_unit]

        {CLEAR_VARIABLE summoned}
    [/event]

    [event]
        name=last_breath
        first_time_only=no
        [filter]
            level=1-999
            [filter_adjacent]
                ability=tlu_give_to_the_poor
            [/filter_adjacent]
        [/filter]
        [store_side]
            [has_unit]
                ability=tlu_give_to_the_poor
                [filter_adjacent]
                    x,y=$x1,$y1
                [/filter_adjacent]
            [/has_unit]
            variable = mehir_side
        [/store_side]

        {VARIABLE gold 1}

        [gold]
            side=$mehir_side.side
            amount=$gold
        [/gold]

        [animate_unit]
            flag=recruited
            text= "+$gold " + _ "gold"
            red,green,blue=246,190,0
        [/animate_unit]

        {CLEAR_VARIABLE mehir_side}
        {CLEAR_VARIABLE gold}
    [/event]

    [event]
        name=last_breath
        first_time_only=no
        [filter]
            level=1-999
            [filter_adjacent]
                is_enemy=yes
                ability=tlu_take_from_the_rich
            [/filter_adjacent]
        [/filter]
        [store_side]
            [has_unit]
                ability=tlu_take_from_the_rich
                [filter_adjacent]
                    is_enemy=yes
                    x,y=$x1,$y1
                [/filter_adjacent]
            [/has_unit]
            variable = mehir_side
        [/store_side]

        # Lv1-2: 1 gold, Lv2-3: 2 gold, Lv4-5: 3 gold...
        {VARIABLE gold "$(round($unit.level * 2.0 / 3))"}

        [gold]
            side=$mehir_side.side
            amount=$gold
        [/gold]

        [animate_unit]
            flag=recruited
            text= "+$gold " + _ "gold"
            red,green,blue=246,190,0
        [/animate_unit]

        {IF_VAR gold greater_than 2 (
            [then]
                [sound]
                    name=open-chest.ogg
                [/sound]
            [/then]
        )}

        {CLEAR_VARIABLE mehir_side}
        {CLEAR_VARIABLE gold}
    [/event]

    {MEDITATION_EVENT meditation 1}
    {MEDITATION_EVENT jinn_philosophy 3}
#enddef

#define CAMPAIGN_EVENTS
    {EVENTS_MEHIR_AMLA}
    {MEHIR_AURAS}
#enddef
