#textdomain wesnoth-To_Lands_Unknown

#define ABILITY_AMULET_METAMORPH
    # wmlxgettext: [abilities]
    [dummy]
        id=metamorph
        name= _ "metamorph"
        description=_ "This elemental can turn into another type of elemental."
    [/dummy]
[/abilities]

[event]
    name=start
    [if]
        [have_unit]
            ability=metamorph
        [/have_unit]
        [then]
            {METAMORPH_ALL}
        [/then]
    [/if]
[/event]

[event]
    name=recall
    [filter]
        ability=metamorph
    [/filter]
    {METAMORPH_ALL}
    [allow_undo]
    [/allow_undo]
[/event]

[event]
    name=post advance
    [filter]
        ability=metamorph
    [/filter]
    {METAMORPH_ALL}
[/event]
[+abilities]
    # wmlxgettext: [/abilities]
#enddef

#define METAMORPH_FIRE ELEM TRANSFORM_MESSAGE IMAGE
    [set_menu_item]
        id=metamorph_{ELEM}
        description={TRANSFORM_MESSAGE}
        image={IMAGE}~SCALE(20,20)
        [show_if]
            [have_unit]
                [not]
                    type=EoMa_{ELEM}_Elemental,EoMa_{ELEM}_Avatar,EoMa_{ELEM}_God
                [/not]
                x,y=$x1,$y1
                [filter_wml]
                    [status]
                        amulet_elem=yes
                    [/status]
                [/filter_wml]
                [not]
                    [filter_wml]
                        moves=0
                    [/filter_wml]
                [/not]
            [/have_unit]
        [/show_if]

        [command]
            [if]
                [have_unit]
                    type=EoMa_Water_Elemental,EoMa_Fire_Elemental,EoMa_Air_Elemental,EoMa_Earth_Elemental
                    x,y=$x1,$y1
                [/have_unit]
                [then]
                    {TRANSFORM_UNIT x,y=$x1,$y1 (EoMa_{ELEM}_Elemental)}
                [/then]
                [else]
                    [if]
                        [have_unit]
                            type=EoMa_Water_Avatar,EoMa_Fire_Avatar,EoMa_Air_Avatar,EoMa_Earth_Avatar
                            x,y=$x1,$y1
                        [/have_unit]
                        [then]
                            {TRANSFORM_UNIT x,y=$x1,$y1 (EoMa_{ELEM}_Avatar)}
                        [/then]
                        [else]
                            {TRANSFORM_UNIT x,y=$x1,$y1 (EoMa_{ELEM}_God)}
                        [/else]
                    [/if]
                [/else]
            [/if]
            [modify_unit]
                [filter]
                    x,y=$x1,$y1
                [/filter]
                [effect]
                    apply_to=loyal
                [/effect]
                moves=0
            [/modify_unit]
        [/command]
    [/set_menu_item]
#enddef

#define METAMORPH_FIRE_NO_AIR ELEM TRANSFORM_MESSAGE IMAGE
    [set_menu_item]
        id=metamorph_{ELEM}
        description={TRANSFORM_MESSAGE}
        image={IMAGE}~SCALE(20,20)
        [show_if]
            [have_unit]
                [not]
                    type=EoMa_{ELEM}_Elemental,EoMa_{ELEM}_Avatar,EoMa_{ELEM}_God
                [/not]
                x,y=$x1,$y1
                [filter_wml]
                    [status]
                        amulet_elem=yes
                    [/status]
                [/filter_wml]
                [not]
                    [filter_wml]
                        moves=0
                    [/filter_wml]
                [/not]
            [/have_unit]
            [have_location]
                x,y=$x1,$y1
                [not]
                    terrain=Q*,*^Qov,Mv
                [/not]
            [/have_location]
        [/show_if]

        [command]
            [if]
                [have_unit]
                    type=EoMa_Water_Elemental,EoMa_Fire_Elemental,EoMa_Air_Elemental,EoMa_Earth_Elemental
                    x,y=$x1,$y1
                [/have_unit]
                [then]
                    {TRANSFORM_UNIT x,y=$x1,$y1 (EoMa_{ELEM}_Elemental)}
                [/then]
                [else]
                    [if]
                        [have_unit]
                            type=EoMa_Water_Avatar,EoMa_Fire_Avatar,EoMa_Air_Avatar,EoMa_Earth_Avatar
                            x,y=$x1,$y1
                        [/have_unit]
                        [then]
                            {TRANSFORM_UNIT x,y=$x1,$y1 (EoMa_{ELEM}_Avatar)}
                        [/then]
                        [else]
                            {TRANSFORM_UNIT x,y=$x1,$y1 (EoMa_{ELEM}_God)}
                        [/else]
                    [/if]
                [/else]
            [/if]
            [modify_unit]
                [filter]
                    x,y=$x1,$y1
                [/filter]
                [effect]
                    apply_to=loyal
                [/effect]
                moves=0
            [/modify_unit]
        [/command]
    [/set_menu_item]
#enddef

#define METAMORPH_ALL
    {METAMORPH_FIRE Fire (_ "Turn into fire") attacks/fire-blast.png}
    {METAMORPH_FIRE_NO_AIR Water (_ "Turn into water") attacks/waterspray.png}
    {METAMORPH_FIRE Air (_ "Turn into air") attacks/eyeofstorm.png}
    {METAMORPH_FIRE_NO_AIR Earth (_ "Turn into earth") attacks/landmass.png}
#enddef

#define ABILITY_MEDITATION
    # wmlxgettext: [abilities]
    [dummy]
        id=meditation
        name= _ "meditation"
        description=_ "This unit gains 1 point of experience at the end of his side's turn if he wasn't moving or attacking."
    [/dummy] # wmlxgettext: [/abilities]
#enddef
