#textdomain wesnoth-To_Lands_Unknown
[unit_type]
	[base_unit]
		id=TLU_Grand_Summoner
	[/base_unit]
    id=TLU_Jaffar
    image="units/jaffar-sleeping.png"
    
    movement=1
    [standing_anim]
        [frame]
            image="units/jaffar-sleeping-anim.png:1000"
            halo="halo/grandsummoner-[1~6,6,7,7,8,8,8,8,7,7,6,6~1].png:100"
            halo_mod=~O(0.3)
            auto_vflip=no
        [/frame]
        [frame]
            image="units/jaffar-sleeping-anim.png:1000"
        [/frame]
        [frame]
            image="units/jaffar-sleeping-anim.png:1000"
            halo="halo/grandsummoner-[1~4,4,4,4,3,3~1].png:100"
            halo_mod=~O(0.3)
            auto_vflip=no
        [/frame]
        [frame]
            image="units/jaffar-sleeping-anim.png:5000"
        [/frame]
    [/standing_anim]
        hide_help=yes
	do_not_list=true
        [variation]
		variation_id=jaffarbath
                movement=1
                experience=242
                
                {AMLA_DEFAULT}
                image="scenery/jaffarbath.png"
                profile="portraits/jaffar-bath.png"
                small_profile="portraits/jaffar-bath.png~SCALE(205,205)"
	        image_icon=portraits/jaffar-bath.png~CROP(230,65,90,90)~SCALE(72,72)
                halo="scenery/jaffarbath.png"
	[/variation]
[variation]
    variation_id=constrained
    name= _ "Grand Summoner"
    race=summoner
    image="units/jaffar-constrained.png"
    profile="portraits/jaffar-constrained.png"
    small_profile="portraits/jaffar-constrained.png~SCALE(205,205)"
    
    hitpoints=67
    movement_type=smallfoot
    movement=5
    experience=210
    level=3
    alignment=lawful
    advances_to=EoMa_Summons_Master
    cost=54
    usage=mixed fighter
    undead_variation=summoner2
    die_sound={SOUND_LIST:HUMAN_DIE}
	[resistance]
		fire=90
		cold=90
	[/resistance]
    [movement_costs]
        sand=1
    [/movement_costs]
    [defense]
        sand=60
    [/defense]
    [movement_anim]
        direction=se,sw,ne,nw
        start_time=0
        [frame]
            image="units/jaffar-constrained-[draw2,move1].png:100"
        [/frame]
    [/movement_anim]
    [movement_anim]
        direction=n
        start_time=0
        [frame]
            image="units/jaffar-constrained-[move-n1,move-n2].png:100"
        [/frame]
    [/movement_anim]
[/variation]
[variation]
    variation_id=hanging
    name= _ "Grand Summoner"
    race=summoner
    image="units/jaffar-constrained.png"
    profile="portraits/jaffar-constrained.png"
    small_profile="portraits/jaffar-constrained.png~SCALE(205,205)"
    
    hitpoints=67
    movement_type=smallfoot
    movement=5
    experience=210
    level=3
    alignment=lawful
    advances_to=EoMa_Summons_Master
    cost=54
    usage=mixed fighter
    undead_variation=summoner2
    die_sound={SOUND_LIST:HUMAN_DIE}
	[resistance]
		fire=90
		cold=90
	[/resistance]
    [movement_costs]
        sand=1
    [/movement_costs]
    [defense]
        sand=60
    [/defense]
    [standing_anim]
        start_time=0
        [frame]
			image="units/jaffar-constrained-[draw2,move1].png:100"
			x=10
			y=-34
        [/frame]
		[rope1_frame]
            image="units/jaffar-rope1.png:100"
			x=10
			y=-34
        [/rope1_frame]
		[rope2_frame]
            image="units/jaffar-rope2.png:100"
			x=10
			y=-34
        [/rope2_frame]
    [/standing_anim]
[/variation]
[/unit_type]
