#textdomain wesnoth-To_Lands_Unknown
[unit_type]
    id=TLU_Magic_Mirror
    name= _ "Magic Mirror"
    race=machine
    image="units/magic-mirror.png"
    ellipse="misc/ellipse"
    
    hitpoints=20
    movement_type=armoredfoot
    movement=0
    experience=100
    level=0
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=20
    usage=mixed fighter
    description=_"Magic mirrors are special pieces of furniture capable of withstanding very powerful spells and even deflecting some of them. Apart from that they serve no meaningful purpose."
    [resistance]
    fire=40
    cold=40
	arcane=40
	blade=80
	pierce=100
	impact=130
    [/resistance]
	die_sound=glass-shattering-big.ogg
	
	[variation]
        variation_id=damaged1
		inherit=yes
		image=units/magic-mirror-damaged1.png
    [/variation]
	[variation]
        variation_id=damaged2
		inherit=yes
		image=units/magic-mirror-damaged2.png
    [/variation]
	[variation]
        variation_id=deflecting
		inherit=yes
		image=units/magic-mirror.png
	[standing_anim]
					[missile_frame]
						image="projectiles/icemissile-[1~7].png:[250,150*2,50*4]"
						image_diagonal="projectiles/icemissile-ne-[1~7].png:[250,150*2,50*4]"
						halo=halo/elven/ice-halo[1~5,1,2,6~9].png:[100*4,50*7]
						halo_x,halo_y=0,0
						offset=0.0~3.0
					[/missile_frame]
					[missile_frame]
						image="projectiles/icemissile-[1~7].png:[250,150*2,50*4]"
						image_diagonal="projectiles/icemissile-ne-[1~7].png:[250,150*2,50*4]"
						halo=halo/elven/ice-halo[1~5,1,2,6~9].png:[100*4,50*7]
						halo_x,halo_y=0,0
						image_mod=~FL(horiz)~FL(vert)
						offset=3.0~0.0
					[/missile_frame]
	[/standing_anim]
    [/variation]
[/unit_type]
