#textdomain wesnoth-To_Lands_Unknown
[unit_type]
    [base_unit]
        id=EoMa_Summons_Master
    [/base_unit]
    id=TLU_Mehir_Leader
    experience=140
    advances_to=null
    image_icon=portraits/mehir-leader.png~CROP(131,50,130,130)~SCALE(72,72)
    [advancement]
        strict_amla=yes
        max_times=1
        id=AMLA_RESISTANCE
        description= _ "+20% bonus to fire, cold, and arcane resistances for Mehir and the circle of resistance ability."
        image="attacks/ultracircle.png"
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_EOMA_CIRCLERES}
                [dummy]
                    id=circleres_bonus
                [/dummy]
            [/abilities]
        [/effect]
        [effect]
            apply_to=resistance
            replace=no
            [resistance]
                arcane=-20
                fire=-20
                cold=-20
            [/resistance]
        [/effect]
        [effect]
            apply_to=hitpoints
            heal_full=yes
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=SWORD_DAMAGE
        description= _ "+2 damage to magical scimitar, +1 HP"
        image="attacks/scimitar2.png"
        [effect]
            apply_to=attack
            name=scimitar,magical scimitar
            increase_damage=2
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=1
            heal_full=yes
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=HAMMER_DAMAGE
        description= _ "+4 damage to magical hammer, +1 HP"
        image="attacks/hammer-summons.png"
        [effect]
            apply_to=attack
            name=hammer
            increase_damage=4
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=1
            heal_full=yes
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=MAGIC_DAMAGE
        description= _ "+3 damage to magic, +3 HP"
        image="attacks/circle-advance.png"
        [effect]
            apply_to=attack
            name=circle of destruction,incantation of power
            increase_damage=3
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=MOVEMENT
        description= _ "+1 movement point"
        image="attacks/blank-attack.png"
        [effect]
            apply_to=movement
            increase=1
        [/effect]
        [effect]
            apply_to=hitpoints
            heal_full=yes
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=SWORD_STRIKE
        description= _ "+1 strike to magical scimitar, +2 HP, MAX XP +10%"
        image="attacks/scimitar2.png"
        [effect]
            apply_to=attack
            name=scimitar,magical scimitar
            increase_attacks=1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=10%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=MEDITATION
        description= _ "Meditation ability: +1 experience per turn when not having moved, +2 HP"
        image="icons/meditation-icon.png"
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_MEDITATION}
            [/abilities]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=100
        id=AMLA_HP
        description= _ "Max HP bonus +5"
        image="icons/amla-default.png"
        [effect]
            apply_to=hitpoints
            increase_total=5
            heal_full=yes
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
[/unit_type]
